body {
  font-family: "Segoe UI", sans-serif;
  background: #f9f9fb;
  margin: 0;
  color: #002d72;
}

.footer {
  background: #f9f9fb;
  padding: 40px 20px;
  text-align: left;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px;
}

.footer-column {
  min-width: 200px;
}

.footer-column .icon {
  font-size: 25px;
  margin-bottom: 8px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #002d72;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 6px 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: #003399;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #0056ff;
}

hr {
  border: 0.5px solid #d3d3d3;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
}

.bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #002d72;
}

.bottom-item .icon {
  font-size: 22px;
  margin-bottom: 5px;
}

.bottom-item a {
  text-decoration: none;
  color: #003399;
  font-weight: 500;
}

.bottom-item a:hover {
  color: #0056ff;
}


@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }
}
