body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #222;
  background: #fff;
}


.hero {
  background: url('https://th.bing.com/th/id/OIP.lqiCaMYm-rdBtMXe_OvWDAHaEC?w=291&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3') center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: auto;
}

.hero h2 {
  font-size: 28px;
  font-weight: 700;
  color: #f9cda1;
}

.hero h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}


.search-box {
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  max-width: 500px;
  margin: auto;
  color: #000;
}

.search-box label {
  font-weight: 600;
  margin-right: 10px;
}

.search-box input {
  border: none;
  flex: 1;
  padding: 8px;
  outline: none;
}

.search-box button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.stores {
  padding: 50px 20px;
  text-align: center;
}

.stores h2 {
  font-size: 28px;
  font-weight: 700;
}

.stores span {
  color: #b6725c;
}

.store-list {
  margin-top: 30px;
}

.store-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.store-list li {
  width: 200px;
  margin: 8px 10px;
  text-align: left;
}

.store-list a {
  text-decoration: none;
  color: #2c66d1;
  font-weight: 500;
}

.store-list a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .hero {
    padding: 60px 15px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .store-list li {
    width: 45%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .store-list li {
    width: 100%;
    text-align: center;
  }

  .search-box {
    flex-direction: column;
    gap: 8px;
  }

  .search-box input {
    width: 100%;
  }
}
