body{
    font-family: sans-serif;
}



.nav{
    display: flex;
    height: 7vh;
    width: 100vw;
    justify-content: space-between;
    box-shadow: 1px 1px 5px;
}


.three-line{
    padding-left: 0.9rem;
}

.pincode{
    
    
    width: 20vw;
}

.code{
    font-size: 0.7rem;
    font-weight: bold;
}
.place{
    font-size: 0.8rem;
    padding-left: 0.5rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 5vh;
}

.right-side{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 2rem;

}

.input1{
    height: 4vh;
    width: 15vw;
    font-size: 0.9rem;
    padding-left: 0.3rem;
    border: 1px solid black;
}

.profile img{
    height: 3vh;
}

.cart img{
    height: 3vh;
}

.empty-bag {
  text-align: center;
}

.bag-img {
  width: 120px;
  margin-bottom: 20px;
}

.empty-bag h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.empty-bag p {
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

.empty-bag img{
    margin-top: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 15px 50px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.3s ease;
}

.black-btn {
  background-color: black;
  color: white;
}

.black-btn:hover {
  background-color: #333;
}

.white-btn {
  background-color: white;
  color: black;
}

.white-btn:hover {
  background-color: #f5f5f5;
}







