* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}


.left-panel {
  flex: 1;
  background: linear-gradient(135deg, #ff7c32, #ff62c0);
  color: black;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.left-panel h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 6rem;
}

.logo {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.2rem;
}


.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 80%;
  max-width: 350px;
  text-align: center;
}

.form-container h2 {
  font-weight: 500;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.password-field {
  position: relative;
}

.password-field .forgot {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
}

.remember {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #333;
  gap: 0.5rem;
}

button {
  background-color: #151515;
  color: white;
  border: none;
  padding: 0.9rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #000;
}

.no-account {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.no-account a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-panel {
    height: 200px;
    align-items: center;
    text-align: center;
  }
}
